@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}
body {
  @apply h-full;
}

div#root {
  @apply h-full;
}

@layer utilities {
  .w-full-38 {
    width: calc(100% - 38px);
  }

  .h-full-38 {
    height: calc(100% - 38px);
  }

  .shadow-container {
    box-shadow: 0 6px 18px rgba(11, 20, 26, 0.05);
  }

  .border-recipients {
    border-right: 2px solid rgba(11, 20, 26, 0.05);
  }

  .right-figure {
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 16px solid #d9fdd3;
    rotate: 60deg;
  }

  .left-figure {
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 16px solid white;
    rotate: -60deg;
  }
}
